{% extends 'login/base.html' %}
{% load static %}
{% block title %}Change password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h1>Hello <span class="text-capitalize"> {{request.user}} </span> </h1>
  <div class="col-sm-9 offset-sm-1 text-center">
      <h3>Password Changed Successfully</h3>
      <div>
          <iframe src="https://media.giphy.com/media/EP84qeaErurtH9r2Fs/giphy.gif" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
      </div>
    </div>
  </div>
{% endblock main-content %}
</html>